<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/loginFormDesign.css'%}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
  <style>
    #messages{
        background-color: #56baed;
        color: #fff;
        padding: 10px;
        margin-top: 10px;
      }
  </style>
</head>
<body>
<a class = "btn btn-warning" href="#">Store</a>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{%static 'images/login.png'%}" style="width:30%; height:30%; object-fit: contain;" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
          
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            {%if messages %}
              {% for message in messages %}
                <p id="messages">{{message}}</p>
              {%endfor%}
            {%else%}
              <p>"Don't have an account?" <a class="underlineHover" href="{% url 'userRegistration' %}">SignUp</a></p>
            {%endif%}
          </div>
      
        </div>
      </div>
</body>
</html>