{%extends "base.html"%}
{%block title%}Index{%endblock%}
{%block content%}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for cat,msg in messages %}
            {%if cat=="success"%}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {%else%}
                <div class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
            {%endif%}
        {%endfor%}
    {%endif%}
{%endwith%}
   <div class="order_menu">
       <ul class="ul">
           <li class="list1"> <a href="{{url_for('add_new_item')}}">Add New Product</a></li>
           <li class="list1"><a href="">New Order</a></li>
       </ul>
   </div>
   
   
   <div class="container" >
       <table class="table table-striped table-bordered">
        <tr>
           <th class= "th1">Product ID</th>
           <th class= "th2">Name</th>
           <th class= "th3">Price per unit</th>
           <th class= "th4">Unit</th>
           <th class ="th4">Action</th>
       </tr>
       {%for row in data%}
       <tr>
           {%for cell in row%}
            <td >{{cell}}</td>
            {%endfor%}
            <td>
                <a href="{{url_for('delete_item', id=row[0])}}"> Delete </a>

            </td>
       </tr>
       {%endfor%}
       </table>
   </div>
    


   
       
   
{%endblock%}
