{%extends "indexf.html"%}
{%block title%}New Order{%endblock%}
{%block content%}

        <div class="jumbotron">
            <table class="table table-striped">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th> Quantity</th>
                        <th>Total</th>
                        <th> Operation </th>
                    </tr>
                </thead>


                <tbody>
                        <tr>
                            <td>

                                <select class="form-control">
                                    <option value="rice">Rice</option>
                                    <option value="oil"> Oil</option>
                                </select>
                            </td>
                            <td>50</td>
                            <td><input class="form-control" style="width:100px" type="number" name="quantity" /></td>
                            <td>338</td>
                            <td>
                                <a class="btn btn-primary">Update</a>
                                <a class="btn btn-danger"> Del </a>
                            </td>
                        </tr>
                </tbody>
            </table>
            <div class="text-right" style="margin-right: 200px;">
              
              <h3 class="m-5">Total : </h3>
              <a  class="btn btn-primary">Save</a>
            </div>
        </div>


{%endblock%}