
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
   

}

body{
    background-color: azure;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
    
}

.mp{
    float: left;
    width: 100%;
    height: 40px;
    background-color: aliceblue;
}
.mp h2{
    margin: 0px auto;
    font-size: 28px;
    margin: 5px;
    
}

.mp h2::first-letter{
    color: orangered;
}

.order_menu{
    float: left;
    
    width: 100%;
}

.ul{
    float: right;
    margin-right: 150px;
   
    
}

.list1{
    display: inline-block;
    padding: 10px;
    margin: 0px auto;
}

.list1 a{
    text-decoration: none;
   
}

.list1:hover{
    background-color: aquamarine;
    color: orangered;
}

.table{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
   
    
    
   
}

.table table{
    margin: 0px auto;
    width: 70%;
    border-collapse: collapse;
    font-family: 'Roboto Condensed', sans-serif;
    
    font-size: 20px;       
}
.table table th{
    padding: 10px;
    background-color: #CFE8EE;
    border: 1px solid #97DBD1;
    
}

.th1{
    width:35%;
}
.th2{
    width:15%;
}.th3{
    width:20%;
}.th4{
    width:30%;
}

td{
   border: 1px solid #97DBD1; 
   padding: 8px;
   font-size: 18px;
    
}

/*Start add_new_product*/

.wrapper{
    margin: 0px auto;
    width:40%;
    text-align: center;
    background: #F0F8FF;
    overflow: hidden;
    display: block;
    
    
       
}

.tittle{
    float: left;
    text-align: center;
    width: 100%;
    height: 40px;
}
.tittle p{
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}
.tittle p::first-letter{
    color:red;
    font-size: 22px;
}

.input{
    float: left;
    width: 90%;
    text-align: left;
    font-size: 18px;
    margin-left: 30px;
    
}

.name{
    float: left;
    width: 100%;
    margin: 3px;
}
.input_box{
    float: left;
    width: 100%;
    
}

.input_box input{
    
    width: 100%;
    margin: 5px 0px;
    border: 1px solid #8CBFDD;
    padding: 8px;
    
}


.action{
    float: left;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    
}

.action input{
    float: right;
    margin-right: 15px;
    padding: 5px;
    width: 55px; 
    border: 1px solid red;
}

.action input:hover{
    background-color: greenyellow;
}
