body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}
input[type=text] {
    background-color: #3CBC8D;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid rgb(255, 255, 255);
  }
  input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
  }